*{
	margin: 0px;
	padding: 0px;
}

#contenedor {
	background-image: url("../img/fondo3.jpg");
	background-size: cover;
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
}

a{
	left: 50%;
	top: 50%;
}

.dropdown, .open{
	position: absolute;
	left: 50%;
	top: 50%;
}

h1{
  color: blueviolet;
  text-align: center;
}

 #botonTexto, #botonCita, #botonMeme, #botonPastillita {
	border-radius: 20px;
	background-color: aqua;
	border-bottom: 3px;
}

img{
	width: 30px;
	height: auto;
}