*{
	margin: 0px;
	padding: 0px;
}

#contenedor {
	background-image: url("../img/fondo3.jpg");
	background-size: cover;
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
}

a{
	left: 50%;
	top: 50%;
}

.dropdown, .open{
	position: absolute;
	left: 50%;
	top: 50%;
}

h1{
  color: white;
  text-align: center;
}


